.bar{
    height:2px;
    background-color: black;
    width:800px;
    position:relative;
    top:70%;
}

.bar-container{
    height:50px;
    margin: 5px;
}

.guess-container{
    padding:5px;
}

.head {
    width: 15px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    top:75%;
    transform: rotate(340deg) translate(0,31px);
    position:relative;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    transform: translate(28px,-18px);
    position:relative;
}

.head.unfilled{
    background-color: transparent;
    box-shadow:0px 0px 0px 2px black inset;
}

.tail{
    width: 35px;
    height: 10px;
    border: solid 1px #000;
    border-color: transparent transparent #000 transparent;
    border-radius: 0 0 10px 100%;
    transform: translate(9px, -36px) rotate(-110deg);
}

.tail.second{
    width: 30px;
    height: 10px;
    transform: translate(10px, -41px) rotate(-110deg);
}

.stem{
    height:35px;
    width:1px;
    background: black;
    transform: translate(24.5px,-12px);
    position: relative;
}
.vert-bar{
    height:25px;
    width:1px;
    background: black;
    transform: translate(0,21px);
    position: absolute;
}

.mid{
    left: 405px;
}

.end1{
    left: 817px;
}

.end2{
    left: 812px;
}

.note-container{
    position:absolute;
}

.block{
    height:5px;
    width:15px;
    background-color: black;
    transform: translate(15px,28px);
}

.dot.weird{
    top:18px;
    left:-27px;
}