.bar{
    height:2px;
    background-color: black;
    width:800px;
    position:relative;
    top:70%;
}

.bar-container{
    height:50px;
}

.head {
    width: 15px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    top:75%;
    transform: rotate(340deg) translate(0,31px);
    position:relative;
}

.head.unfilled{
    background-color: transparent;
    box-shadow:0px 0px 0px 2px black inset;
}

.stem{
    height:35px;
    width:1px;
    background: black;
    transform: translate(24.5px,-12px);
    position: relative;
}
.vert-bar{
    height:25px;
    width:1px;
    background: black;
    transform: translate(0,21px);
    position: absolute;
}

.mid{
    left: 400px;
}

.end1{
    left: 807px;
}

.end2{
    left: 802px;
}

.note-container{
    position:absolute;
}